:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--light);
  background-color: var(--dark);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light: #efebec;
  --light2: #9eaa74;
  --brand: #4690cd;
  --contrast: #c44960;
  --dark: #1d2d51;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}

footer,
header {
  background-color: var(--brand);
}

a {
  text-decoration: none;
  color: var(--light);
  transition: all;
  transition-duration: 0.25s;
}
a:hover {
  color: var(--contrast);
}

.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

li {
  list-style-type: none;
}
li::before {
  position: relative;
  content: "⬪";
  color: var(--brand);
  top: 0;
  right: 0.5rem;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #4690cd;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--brand);
    background-color: var(--light);
  }
  header,
  footer {
    color: var(--light);
  }
  a:hover {
    color: var(--brand);
  }
  button {
    background-color: var(--light);
  }
}
